@media all and (max-width:1700px){
    .inner{margin-left:10px;margin-right: 10px;}
    .phone {
        right: 150px;
    }
    #mobile video {
        right: 230px;
    }
}

@media all and (max-width:1550px){
    #mobile .phone {
        right: 10px;
    }
    #mobile video {
        right: 90px;
    }
    #section1 #web.thum img {
       width:376px;
    }
}
@media all and (max-width:1200px){
    #section1 {
        padding:0px;
    }
    #mobile .phone {
        right: 10px;
    }
    #mobile video {
        right: 90px;
    }
    #section1 .txt_box li {
        font-size:2rem;
    }
}

@media all and (max-width:1024px){
    #section1 h4 {
        font-size: 1rem;
    }
    .txt_box {
        margin-bottom: 20px;
    }
    .tabSet ul.tabs li {
        font-size: 1.4rem;
    }
    #section1 .btn button:nth-child(1), #section1 .btn  button:nth-child(2){
        background-size:45px;
    }
    #section1 button {
        width: 65px;
        height: 65px;
    }
}



@media all and (max-width:800px){
    .logo img {
        width: 80px;
    }
    #nav{
        transform: translate(-50px , 0);
    }
    #nav ul li {
        margin:5px;
        /* overflow: hidden; */
        font-size:1rem;
    }
    #section1 h2.title {
        word-break: keep-all;
        font-size:1.4rem;
    }
    #section1 .w_txt{
        margin: auto;
        text-align: center;
    }
    #section1 .s_tit2 {
        font-size: 0.9rem;
        word-break:keep-all;
    }
    /* #section1 .panels {
        padding: 50px 0 10px 0;
    } */
    #section1 #web {
        flex-direction: column;
    }

    #section1 article#web .thum {
        margin:0 auto 30px auto;
        text-align: center;
        width:350px;
    }

    .txt_box {
        margin: auto;
        text-align: left;
        }
    #section1 .btn button:nth-child(1), #section1 .btn  button:nth-child(2){
        background-size:40px;
    }
    #section1 .btn button {
        width: 65px;
        height: 65px;
    }
   
    #section1 .btn {
        margin:30px 0 0 0;
        text-align: center;
    }
    #section1 .panels #web img {
        width: 100%;
    }
}

@media all and (max-width:450px){

    #nav {
        transform: translate(0 , 0);
    }

    #section1 .panels #web img {
        width: 100%;
    }
}