@media all and (max-width:1700px){
    .inner {max-width:1500px;}
    #section1 h2.title {
        font-size: 2.4rem;
    }
    #section1 .panels #web img {
        width: 80%;
    }
}

@media all and (max-width:1550px){
    .inner {max-width:1200px;}
    #section1 h2.title {
        font-size: 2.2rem;
    }
}
@media all and (max-width:1300px){
    #mobile .phone {
        right: 30px;
    }
    #mobile video {
        right: 110px;
    }
}
