@media all and (max-width:1700px){
    .inner {max-width:1500px;}
    #section1 h2.title {
        font-size: 2.4rem;
    }
    #section1 .panels #web img {
        width: 80%;
    }
    #mobile .phone {
        right: 150px;
    }
    #mobile video {
        right: 230px;
    }
}

@media all and (max-width:1550px){
    .inner {max-width:1200px;}
    #section1 h2.title {
        font-size: 2.2rem;
    }
    #mobile .phone {
        right: 10px;
    }
    #mobile video {
        right: 90px;
    }
}
@media all and (max-width:1200px){
    #section1 h2.title {
        font-size: 2.2rem;
    }
    #section1 .txt_box li {
        font-size: 0.9rem;
    }
    #mobile .phone {
        right: 10px;
    }
    #mobile video {
        right: 90px;
    }
}
